# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/project/.bloop/
/target
tmp/
test-result
server.pid
*.eml
/dist/
.bsp
.metals
.vscode
.cache
