@import helper._
@(form: Form[models.UploadForm], userId: Int)(implicit request: RequestHeader, messagesProvider: MessagesProvider)


@main("File uploader") {

<div class="container mt-4 .col-sm-6.">
  <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <h1 class="display-5">You are ready to upload your file!</h1>
  <p class="lead text-muted"> Please upload a photo or a video! </p>
  <p class="lead text-muted"> If you'd like to upload multiple items, please do one at a time.</p>

  <section class="mx-auto text-center" style="background-color: lightgray; padding: 5%;">
    <p class="bg-warning"> PLEASE CLICK UPLOAD ONLY ONCE! EVEN IF IT TAKES A WHILE TO UPLOAD! </p>
    @helper.form(action = routes.UploadController.upload(userId), Symbol("enctype") -> "multipart/form-data", Symbol("class") -> "form-label") {
      @CSRF.formField
      @inputFile(form("File"), Symbol("class") -> "form-label", Symbol("_label") -> "Select File (10 MB max)", Symbol("_showConstraints") -> false)

    <input class="btn btn-primary" type="submit" id="upload" value="Upload file"/>
  }
</section>
</main>
</div>
}