@()

@main("The surprise for Chris!") {
<div class="container mt-4">
  <section class="mx-auto text-center" style="background-color: lightgrey; padding: 5%;">
    <h1 class="display-4">Hello friends!</h1>
    <p class="lead text-muted"> As you probably know, Chris' birthday is coming up in July, along with his PhD defense! </p>
    <p class="lead text-muted">  The grad student life has been rough for him, and with the pandemic he feels extra lonely. </p>
      <p class="lead text-muted">   For this reason, I thought that doing a public display of affection from everyone that cares about him
      would be the best present.</p>
      <p class="lead text-muted"><strong> Please help me make it happen! </strong></p>
  </section>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <p class="lead"> So what is this about? </p>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>The idea is simple! We have 2 ways of sharing messages for Chris
          <ul>
            <li> A short video (less than 30 seconds!) of you talking to him. This will get collected with other videos to make one huge video!</li>
            <li> A picture and a message, that I'll present like digital postcards (a grid with the pictures, and there's a message when you "turn around" each of them)
            </li>
          </ul>
          The plan is to collect your messages, pictures and videos by July 1st, so I have time to compile them and display
          them nicely! I will let you all know when stuff is live.     
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <p class="lead">Mmm not sure I should send a message... </p>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>I know Chris has impacted many people's lives, from very different paths, so as long
          as you feel like saying something nice to him, you are very welcome to participate! It doesn't matter
          if you haven't seen them in 15 years, or if you see him every day. Just share the love!</p>
          <p>if you want to share something and not have anyone but Chris see it, then when you upload you can mark it as private!</p>   
        </div>       
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <p class="lead">Where can we see the end result?</p>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>As you may know, we are moving cross-country the end of May, so for now I will just collect messages, videos and pictures. 
          Once we get there and Chris is preparing his defense, I will work on the display part, so the more stuff we have at that point the better!</p>
          <p>Make sure to put a good email to contact you when you submit your message, and I will let you know when it's live!</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <p class="lead">Your website is broken and I can't upload stuff, what do I do?</p>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Sorry, I made this kind of a rush. If you need to, please contact me at <img src="http://surprise.javierab.com/email.png" style="height:30px" alt="my email"></p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
          <p class="lead">Wait, who are you?</p>
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Hi I'm Javiera, Chris' wife! If you don't know which Chris, then you're probably in the wrong website...</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="alert alert-primary mx-auto text-center" role="alert">
      <h1 class="display-6"> Ready to send your message?</h1> 
      <p>When you have your video and/or photo and text, please go to the following link to update it!</p>
      <a class="btn btn-secondary" href="@routes.UploadController.renderUser">Upload a message</a>
    </div>
  </div>
</div>
}